.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0 6px;
}
.slick-dots li.slick-active button:before {
  color: rgb(39, 91, 115);
 
}

.slick-dots li button:before {
  font-size: 20px;      /* dot size */
  color: white;         /* normal dot color */
  opacity: 1;
  

}
/* this is arrow icon in react slick ..............................*/

/* .slick-prev:before, .slick-next:before {
  color: red;
  font-size: 40px;
  
  z-index: 2;
} */
