/* .slick-dots li.slick-active button:before {
  color: black;
 
} */

/* this is arrow icon in react slick .............................. */

/* .slick-prev:before, .slick-next:before {
  color: red;
  font-size: 40px;
  
  z-index: 2;
} */